@use "../styles/globalvars.scss" as vars;

.wrapper {
	// TODO Hero Element
}

.mainNav {
	color: rgb(231, 231, 231);
	position: sticky;
	top: 0;
	transition: 125ms;
	z-index: 999;
	isolation: isolate;
}

.mainNav::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 5px;
	background-color: var(--shadow-color);
	z-index: -1;
	filter: blur(5px);
	transition: background-color 300ms ease-in-out;
}

.navList {
	background-color: vars.$main-bg;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	gap: 0.1em;
	font-size: 20px;
	padding-inline: 4rem;
}

.navElement {
	padding: 1.25em 0.75em;
	:where(a) {
		color: #ccc;
		&:hover {
			color: rgb(255, 255, 255);
		}
	}
	a {
		font-weight: 600;
		padding: inherit;
		text-decoration: none;
		&.active {
			color: vars.$active-nav-link;
		}
	}
}

.logoSvg {
	margin-right: auto;
	svg {
		fill: #ccc;
		transition: fill 125ms ease-in-out;
	}
	&:hover {
		svg {
			fill: white;
		}
	}
}

.dropBtn {
	display: none;
}

@media (max-width: 1200px) {
	.navList {
		padding-inline: 1em;
	}
	.navElement {
		padding: 1em 0.5em;
	}
}

@media (max-width: 900px) {
	.navElement {
		display: none;
	}

	.logoSvg {
		padding-block: 0.5em;
	}

	.dropBtn {
		display: block;
		.hamburger {
			padding: 0;
			min-width: auto;
			margin: 0;
			border: none;
			color: white;
			fill: #ccc;
			background: none;
			&:hover {
				fill: white;
				background: none;
			}
		}
	}

	.dropMenu {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		width: 100%;
		top: 100%;
		translate: 0% -150%;
		background-color: vars.$main-bg;
		gap: 1.5em;
		padding: 1em;
		transition: translate 125ms ease-in-out;
		z-index: -1;
		&.show {
			translate: 0% 0%;
		}
		.navElement {
			padding: 0;
			display: block;
			font-size: 1.2rem;
		}
	}
}
