@use "../styles/globalvars.scss" as vars;

.wrapper {
	// TODO Parallax Header
}

.mainNav {
	color: rgb(231, 231, 231);
	position: sticky;
	top: 0;
	transition: 125ms;
	z-index: 999;
	isolation: isolate;
}

.mainNav::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 5px;
	background-color: var(--shadow-color);
	z-index: -1;
	filter: blur(5px);
	transition: background-color 300ms ease-in-out;
}

.navList {
	background-color: vars.$main-bg;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	gap: 0.1em;
	font-size: 20px;
	padding-inline: 4rem;
}

.navElement {
	padding: 1.5rem 1rem;
	:where(a) {
		color: #ccc;
		&:hover {
			color: rgb(255, 255, 255);
		}
	}
	a {
		font-weight: 600;
		padding: inherit;
		text-decoration: none;
		&.active {
			color: vars.$active-nav-link;
		}
	}
}

.logoSvg {
	margin-right: auto;
	svg {
		fill: #ccc;
		transition: fill 125ms ease-in-out;
	}
	&:hover {
		svg {
			fill: white;
		}
	}
}
