@use "../styles/globalvars.scss" as vars;

.wrapper {
	// TODO Parallax Header
}

.mainNav {
	background-color: vars.$nav-bg;
	color: rgb(231, 231, 231);
}

.navList {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	gap: 0.1em;
	font-size: 22px;
}

.navElement {
	padding: 1em;
	:where(a) {
		color: inherit;
	}
	a {
		font-weight: 600;
		padding: inherit;
		text-decoration: none;
		&.active {
			color: vars.$active-nav-link;
		}
	}
}
