@use "../styles/globalvars.scss" as vars;

.latestItem {
	position: relative;
	display: grid;
	gap: 1rem;
	grid-template-columns: 2fr 5fr;
}

.latestContent {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1em;
	h2 {
		font-size: 2rem;
	}
	h3 {
		text-decoration: underline;
		font-size: 1rem;
		color: vars.$border-grey;
		font-weight: 500;
		&.outStock {
			font-size: 0.9rem;
			font-weight: 700;
			font-style: italic;
		}
	}
	p {
		margin-block: 1em;
		line-height: 1.5;
		min-height: 4rem;
	}
	button {
		margin-top: 1rem;
		width: max(250px, 40%);
		&:disabled {
			text-decoration: line-through;
			font-style: italic;
			background-color: rgb(227, 227, 227);
			color: grey;
			border-color: grey;
			cursor: not-allowed;
			&:hover {
				font: inherit;
				text-decoration: line-through;
				font-style: italic;
			}
		}
	}
}

@media (max-width: 1200px) {
	.latestItem {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 900px) {
	.latestItem {
		grid-template-columns: 1fr;
		div:not(.latestContent) {
			aspect-ratio: 4 / 3;
		}
	}
}
