@use "../styles/globalvars.scss" as vars;

.modal {
	z-index: 99999;
	isolation: isolate;
	display: flex;
	flex-direction: column;
	padding: 1em;
	background: white;
	border-radius: .5em;
	button {
		max-width: 3rem;
		align-self: center;
	}
}

.modalWrap {
	position: fixed;
	display: grid;
	place-content: center;
	inset: 0;
	background-color: #2222;
}

.cartTitle {
	font-size: 2rem;
	text-align: center;
	font-weight: 700;
}
