.shopItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
	width: 100%;
	max-width: 250px;
	justify-content: space-around;
	select,
	button {
		width: 90%;
		min-width: 100px;
	}
	button {
		&:hover {
			background-color: #71a9ff;
		}
		&:disabled {
			text-decoration: line-through;
			font-style: italic;
			background-color: rgb(227, 227, 227);
			color: grey;
			border-color: grey;
			cursor: not-allowed;
			&:hover {
				font: inherit;
				text-decoration: line-through;
				font-style: italic;
			}
		}
	}
	select {
		padding: 0.25em;
		text-transform: capitalize;
		option {
			text-transform: capitalize;
			font: inherit;
		}
	}
	div {
		aspect-ratio: 1 / 1;
		margin-bottom: 1em;
		img {
			border-radius: 0.25em;
		}
	}
}

.outStock {
	font-style: italic;
	font-size: 14px;
}
