@use "../styles/globalvars.scss" as vars;

// TODO Make the cart modal look good

.list {
	border: solid 2px vars.$border-grey;
	border-radius: 0.5em;
	margin-block: 0.5em;
	padding: 1em;
	width: 100%;
	min-width: 30vw;
	list-style-type: none;
	background: white;
	max-height: 60vh;
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: start;
	thead {
		tr {
			td {
				text-align: start;
				font-weight: bold;
			}
		}
	}
}

.listItem {
	text-transform: capitalize;
	input {
		max-width: 6rem;
		min-width: auto;
		width: 100%;
		text-align: end;
	}
	.removeButton {
		text-align: end;
		button {
			border: none;
			padding: 0.25em;
			background: none;
			border-radius: 999vmax;
			width: 100%;
			max-width: none;
			min-width: auto;
			align-self: flex-end;
			font-weight: bold;
			&:hover {
				background: red;
			}
		}
	}
}
