@use "../styles/globalvars.scss" as vars;

.formsWrapper {
	margin-block: 6em 8em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: clamp(4rem, 10%, 16rem);
	button {
		margin-block: 1.5em;
	}
}

.formsWrapper h2 {
	font-size: 32px;
	font-weight: bold;
}

.contactForm {
	display: flex;
	gap: 0.2em;
	flex-direction: column;
	min-width: 350px;
	width: 50%;
	max-width: 550px;
	h2 {
		text-align: center;
	}
	label {
		font-size: 1.3rem;
		font-weight: 500;
		margin-top: 0.5em;
	}
	input,
	textarea {
		margin-block: 0.25em;
		padding: 0.5em 0.75em;
		border: vars.$border-grey solid 2px;
		border-radius: 0.25em;
		background-color: vars.$light-grey;
		&:focus {
			outline: solid 2px vars.$active-selection;
			outline-offset: 2px;
		}
	}
	textarea {
		resize: none;
		height: 16rem;
	}
	[type="submit"] {
		max-width: 60%;
	}
}

.donate {
	max-width: 400px;
	text-align: center;
	button {
		width: 60%;
	}
}

.imageWrapper {
	width: 100%;
	position: relative;
	aspect-ratio: 1 / 1;
	margin-block: 1em;
}
