@use "../styles/globalvars.scss" as vars;

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: clamp(0px, calc(100% - 1.25rem), 1400px);
	margin-inline: auto;
	margin-top: 6rem;
}

.frequently {
	display: flex;
	width: 100%;
	gap: 2rem;
}

.addCart {
	text-align: center;
	align-self: flex-end;
	margin-bottom: 1rem;
	p {
		font-weight: 600;
		margin-bottom: 0.5rem;
	}
	button {
		font-weight: 500;
	}
}

.bought {
	text-align: center;
	.items {
		display: flex;
		height: 8rem;
		gap: 2rem;
		padding: 1em;
		align-items: center;
		div {
			aspect-ratio: 1 / 1;
		}
	}
}

.shopWrapper {
	width: clamp(0px, calc(100% - 2rem), 1200px);
	display: grid;
	margin-inline: auto;
	justify-items: center;
	align-items: flex-start;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 4em;
	margin-block: 2rem 4rem;
}

@media (orientation: portrait) {
	.shopWrapper {
		grid-template-columns: 1fr;
	}
}
